<main>
  <div class="container p-0">
    <div class="wrapperLg shadowWrapper position-relative mb-3" style="background: url('{% for feature in page.features limit: 1 %}{{ feature.image_url }}{% endfor %}') no-repeat center; background-size: cover;">
      <div class="overlayTransparent highLightGreen"></div>

        <div class="row d-flex">
          <div class="col-sm-5 col-sm-offset-2">
            <div class="position-relative h100 w100">
              <div class="contentYCentered wow fadeIn">
                <h1 class="pageHeadline">{{ page.headline }}</h1>
                <p class="lead subHeadline">{{ page.excerpt }}</p>
              </div>
            </div>
          </div>
        </div>

    </div>
    <div class="wrapperSm position-relative">
      <div class="row d-flex no-gutters">
        {% for child in page.children %}
        <div class="col-sm-4">
          <div class="position-relative h100 w100" style="background: url('{% for feature in child.features limit: 1 %}{{ feature.image_url }}{% endfor %}') no-repeat center; background-size: cover;">
            <div class="overlayTransparent {% cycle 'blue', 'lightGreen', 'callToAction', 'highLightGreen' %}"></div>
            <div class="contentYCentered text-center w100 px-2">
              {% include "homepage_box" with child %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
