<div class="wrapperLg position-relative p-0" style="background: url('{% for feature in page.features limit: 1 %}{{ feature.image_url }}{% endfor %}') no-repeat center; background-size: cover;">
  <div class="overlayTransparent lightGreen"></div>
  <div class="container-fluid">
    <div class="row d-flex">
      <div class="col-sm-5 col-sm-offset-2">
        <div class="position-relative h100 w100">
          <div class="contentYCentered  wow fadeIn">
            <span class="cat">{{ page.name }}</span>
            <h1 class="pageHeadline">{{ page.headline }}</h1>
            <p class="lead subHeadline">{{ page.excerpt }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="container p-0">
    <div class="position-relative shadowWrapper white">
      <div class="pageContent">
        {{ page.basic.content }}
        {% include "sharestepup" %}
      </div>
    </div>
  </div>
</main>
